* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url('Untitled design.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

.navbar {
    background-color: #c1a36a;
    padding:15px 0px;

}
@media screen and (max-width: 768px) {
    .navbart {
        width: 90%;

    }

.header{
    display: block;
}
.container {

    height: 417px;
    width: 627px;
    background-image: url("https://img.freepik.com/premium-photo/comic-book-page-background-with-empty-speech-bubble_840989-2806.jpg?semt=ais_hybrid");
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 130px;

}

.one img,
p {
    height: 250px;
    width: 230px;


}

.one img {
    margin-top: 50px;
    margin-left: 80px;
}

.one p {
    font-weight: bolder;
    margin-left: 25px;
    margin-top: 90px;
    margin-right: 70px;
}

.container1 {
    margin-top: 130px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container1 p {
    margin-left: 85px;
    margin-top: 15px;
    font-weight: bold;
}


.container2 {
    height: 417px;
    width: 627px;
    background-image: url("https://img.freepik.com/premium-photo/comic-book-page-background-with-empty-speech-bubble_840989-2806.jpg?semt=ais_hybrid");
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 80px;

}

.two img,
p {
    height: 250px;
    width: 230px;


}

.two img {
    margin-top: 55px;
    margin-left: 80px;
}

.two p {
    font-weight: bolder;
    margin-left: 25px;
    margin-top: 90px;
    margin-right: 70px;
}

.container3 {
    margin-top: 130px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container3 p {
    margin-left: 85px;
    margin-top: 15px;
    font-weight: bold;

}


.container4 {
    height: 417px;
    width: 627px;
    background-image: url("https://img.freepik.com/premium-photo/comic-book-page-background-with-empty-speech-bubble_840989-2806.jpg?semt=ais_hybrid");
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 80px;

}

.three img,
p {
    height: 250px;
    width: 230px;


}

.three img {
    margin-top: 50px;
    margin-left: 80px;
}

.three p {
    font-weight: bolder;
    margin-left: 25px;
    margin-top: 90px;
    margin-right: 70px;
}

.container5 {
    margin-top: 130px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container5 p {
    margin-left: 85px;
    margin-top: 15px;
    font-weight: bold;

}


.container6 {
    height: 417px;
    width: 627px;
    background-image: url("https://img.freepik.com/premium-photo/comic-book-page-background-with-empty-speech-bubble_840989-2806.jpg?semt=ais_hybrid");
    display: flex;
    justify-content: center;
    margin-left: 30%;
    margin-top: 80px;

}

.four img,
p {
    height: 250px;
    width: 230px;


}

.four img {
    margin-top: 55px;
    margin-left: 85px;
}

.four p {
    font-weight: bolder;
    margin-left: 25px;
    margin-top: 90px;
    margin-right: 70px;
}

.container7 {
    margin-top: 130px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container7 p {
    margin-left: 85px;
    margin-top: 15px;
    font-weight: bold;

}

#About {
    margin-top: 100px;
}


