*{
    margin:0px;
    padding:0px;
}
body {
    background-color: #2C3930;
    color: #DCD7C9;
    margin:0px;
    padding:0px;
    font-family: 'Times New Roman', Times, serif;
}
#one{
    display:flex;
    justify-content: space-between;
    background-color: #3F4F44;
    color: #DCD7C9;
    align-items:center;
    padding:15px;
    padding-right:20px;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:1;
 
}
.one{
    font-size:1.5rem;
    font-weight:bold;
}
.two{
    display:flex;
    list-style:none;
}
.two li{
    margin: 0 30px;
}
.two a{
    text-decoration:none;
    color:white;
    font-size:1.2rem;
    cursor: pointer;

}
#two{
    margin-top:80px;
    display:flex;
    width:100%;
    justify-content:center;


}
.box{
    display:flex;
    align-items:center;
    margin-top:15px;
    font-size: x-large;
    font-weight: bolder;
    height:500px;
    width:800px;

}
/* #two{
    margin-top: 70px;
    margin-bottom:70px;
    display:flex;
    align-items: center;
    justify-content:center;
} */
/* .base img{
    margin-top:30px;
}

.color{
    height:128.8px;
    width:400px;
    font-family:'Times New Roman', Times, serif;
    font-weight:bolder;
    font-size:x-large;
} */
#About {
    margin-left: 30px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: larger;
    margin-top:60px;
}

.section0 ul{
    margin-left:40px;
}
.section1 ul{
    margin-left:36px;
}
.section2 ul{
    margin-left:35px;
}
.section3 ul{
    margin-left:31px;
}

#contact{
    color:#DCD7C9;
    margin-top:90px;

}
#contact a{
    color:#DCD7C9;
}

.submit{
    height:30px;
    width:60px;
    color:black;
    background-color:orange;
    cursor: pointer;
}
.query{
    margin-left: 45%;
}
hr{
    border-color:#3498db;
}

       


